:root{
    --bg-color-header:rgb(255, 255, 255);
    --color-border-info:rgb(194, 105, 46);
    --body-bg-color:rgb(226, 125, 58);
    --bg-color-footer:rgb(54, 52, 52);
}
.navbar-header{
    color: var(--bg-color-header);
    font-size: 1.5rem;
}
.border-info{
    background-color: var(--color-border-info);
}
body{
    background-color: var(--body-bg-color);
}
.container-fluid{
    position: relative;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.dropdown{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
