{% load static %}
<canvas class="background" style="background-color: white"></canvas>
<div class="jumbotron">
  <div class="container text-light">
    <h1 class="display-3">{{ site_name }}</h1>
    <p>
      I'm Sathvik, a Computer Science undergrad with a strong foundation in
      programming, software development, and data analysis. I'm passionate about
      technology and always seeking new challenges to expand my skillset. I
      thrive in team-oriented environments and am eager to explore career
      opportunities in the tech industry. Thanks for visiting my website!
    </p>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam et turpis in dolor egestas gravida id volutpat augue.
    Ut iaculis ex vitae tempus vestibulum.
    Maecenas condimentum nisl id augue aliquet, at consectetur mi porta.
    Morbi rutrum dolor in nibh ornare eleifend.
    Etiam maximus ligula vel ex feugiat, vitae tincidunt purus ornare.
    Suspendisse accumsan nibh quis odio vestibulum, convallis pharetra leo commodo.
    Donec finibus nisl nec elit porta, ut efficitur libero tincidunt.
    Suspendisse vitae tortor eleifend justo maximus consequat.
    Praesent sed lectus non augue feugiat suscipit sed fermentum nibh.
    Suspendisse ac lorem sit amet turpis porttitor tincidunt vel vel lacus.
    Vivamus id dolor vehicula, consequat magna quis, tincidunt massa.
    Vestibulum ut arcu dignissim, feugiat neque ac, pulvinar quam.
    Pellentesque elementum justo at metus faucibus pharetra.
    Cras rutrum tellus a massa blandit, sed aliquam lectus hendrerit.
    Praesent id arcu gravida ex gravida pharetra.
    Etiam molestie magna nec lorem placerat, sit amet dictum leo sodales.
    Vivamus quis metus ac nibh dapibus interdum.
    Proin id ipsum at elit rhoncus porttitor ut at dui.
    Suspendisse vitae libero in ante porttitor luctus eu vestibulum augue.
    Integer auctor nisi sit amet porttitor feugiat.
    Nulla in purus in ex faucibus elementum.
    Nulla volutpat quam a augue tristique, nec fermentum enim ornare.
    Nam vulputate eros eu justo euismod, vel ultricies risus dictum.
    Cras blandit nunc in risus suscipit, et ultricies urna fermentum.
    Duis ut diam ut purus imperdiet sagittis.
    In non urna in arcu vestibulum egestas.
    Donec et justo sit amet sem feugiat porttitor eget vitae lorem.
    Aliquam et ligula eget nulla bibendum sodales.
    Curabitur sit amet augue eu libero blandit porta.
    Ut vehicula sapien id tellus posuere, a maximus velit tempor.
    Sed ullamcorper massa sit amet interdum auctor.
    Donec venenatis ligula at felis fringilla euismod.
    Nunc imperdiet nisl ac justo dapibus scelerisque.
    Suspendisse nec diam vitae dui euismod fermentum.
    Ut eu massa quis nulla dapibus lacinia a et justo.
    Aenean eu tortor lobortis, convallis massa in, feugiat sem.
    In mollis lorem sed maximus condimentum.
    Etiam tristique mauris nec ante fermentum dictum.
    Pellentesque ullamcorper est sit amet metus cursus auctor.
    Integer et urna luctus, vulputate mi vitae, rhoncus arcu.
    Integer et lectus sodales, porttitor ante a, cursus lorem.
    In sollicitudin arcu quis magna vestibulum sagittis.
    In sit amet dui et sem blandit posuere id et odio.
    Ut scelerisque turpis in nulla ullamcorper, vel rutrum lorem fermentum.
    Fusce mollis nulla nec massa ultricies blandit.
    Praesent nec urna auctor, eleifend sapien in, egestas neque.
    Vestibulum pulvinar erat ut euismod commodo.
    Vestibulum efficitur tellus eu est condimentum, ut consequat metus mattis.
    In sed mauris aliquet, accumsan justo eu, consectetur massa.
    Vestibulum facilisis nisi vel maximus ultricies.
    Etiam venenatis mi sed volutpat ullamcorper.
    Cras porttitor arcu vel elementum gravida.
    Etiam tristique ex scelerisque nisl porttitor aliquam.
    Morbi sit amet leo ac nulla facilisis euismod.
    Nullam fermentum arcu et erat imperdiet, nec sodales ante efficitur.
    Sed pulvinar odio sit amet cursus semper.
    Duis at elit tincidunt, blandit dui at, scelerisque ex.
    Nam fringilla nulla eget lectus tincidunt, non consectetur est vulputate.
    Proin viverra nunc in lectus gravida volutpat.
    Fusce quis urna cursus, rutrum lectus vel, pellentesque sapien.
    Ut pretium mauris non ipsum suscipit blandit.
    Mauris eu nibh eget massa sagittis facilisis.
    Nam quis ex mollis, fringilla metus et, vehicula lorem.
    Cras eget ex eu felis facilisis euismod.
    Aliquam porttitor nulla quis sagittis placerat.
    Donec tempor sem eget arcu aliquet pellentesque.
    Aenean laoreet magna ac tincidunt posuere.
    Nulla id ipsum quis leo luctus feugiat eget eu justo.
    Integer sit amet magna sodales, vulputate justo in, volutpat quam.
    Proin sodales libero ut malesuada pretium.
    Nulla sed erat non magna vulputate ornare.
    Ut varius massa non enim vulputate, sollicitudin ornare nunc luctus.
    Sed et ante in leo iaculis suscipit.
    Pellentesque pulvinar turpis in risus viverra placerat non lobortis dolor.
    Integer varius turpis facilisis dolor porta, eu malesuada odio lobortis.
    Integer id sapien id leo mollis luctus at ac lacus.
    Donec vitae velit at velit feugiat auctor a in nisi.
    Curabitur at dui vitae urna lobortis ultricies sed eu massa.
    Donec nec justo imperdiet, imperdiet eros ut, maximus eros.
    Etiam ac tellus et risus finibus maximus.
    Phasellus accumsan turpis ut magna convallis semper.
    Pellentesque varius enim non diam rhoncus, et varius elit vehicula.
    Quisque rutrum tellus eget hendrerit fermentum.
    Fusce ultrices ex eget eros iaculis gravida.
    Proin sit amet dolor nec diam tempor mattis.
    Morbi pellentesque risus a elit congue, ut malesuada metus pulvinar.
    Mauris aliquam orci a ullamcorper imperdiet.
    Pellentesque ut quam fermentum lacus ultrices fermentum quis molestie ligula.
    Nulla vitae est tincidunt, mollis nunc dignissim, aliquam magna.
    Nullam elementum nisl nec felis malesuada, non sodales quam dapibus.
    Suspendisse a enim vitae mi tristique finibus.
    Quisque et diam in erat congue tincidunt.
    Praesent at arcu eleifend ligula tincidunt placerat.
    Nam cursus nunc ac sagittis sagittis.
    Nunc eu nisl mattis, bibendum augue ac, ornare eros.
    Praesent eget mauris eget neque ultricies mollis ut nec dui.
    Duis vitae mauris a erat vestibulum pulvinar.
    Aliquam nec nibh luctus, sodales est nec, ultricies libero.
    Donec sollicitudin diam at metus elementum, vitae ultricies eros consectetur.
    Nam vel nulla scelerisque, vulputate metus ac, consequat orci.
    Aliquam rhoncus massa ut nibh tincidunt molestie.
    Sed faucibus ante nec fringilla efficitur.
    Fusce tempus urna eget scelerisque maximus.
    Pellentesque consectetur est eu congue pulvinar.
    Cras ut dolor sit amet nisi lacinia gravida.
    Curabitur sed nibh at eros scelerisque pretium.
    Aenean et leo lacinia, tempor orci aliquet, pretium neque.
    Praesent scelerisque lacus a orci volutpat hendrerit.
    In sollicitudin libero et mauris eleifend, in ultrices quam porttitor.
    Praesent tincidunt sem sit amet enim faucibus, sed tincidunt libero vehicula.
    Sed ornare ex sit amet ipsum molestie condimentum.
    Vivamus consequat velit eu velit rutrum dignissim.
    Donec facilisis lorem eget erat maximus maximus.
    Maecenas varius risus nec diam sagittis, quis facilisis risus lobortis.
    Duis vel nulla eleifend, facilisis mauris vel, porta ligula.
    Vestibulum consequat ligula nec magna pellentesque posuere.
    Integer sed magna eleifend, dapibus arcu eget, laoreet ligula.
    Donec eget mi iaculis, elementum nulla non, lacinia elit.
    Morbi eget libero consectetur, pellentesque justo vel, maximus nisi.
    Vivamus vulputate neque elementum eros vestibulum tempus.
    Nulla non felis vitae urna dictum mollis non et lorem.
    Cras vitae diam tempor, efficitur tellus id, congue neque.
    Curabitur eu dui sit amet quam fringilla imperdiet.
    Pellentesque interdum diam id nulla dapibus consequat nec a enim.
    Vivamus dapibus quam elementum, fringilla libero quis, fermentum urna.
  </p>
</div>


