{% load static %}

<header class="header">
  <ul class="position-absolute top-50 start-50 translate-middle-x">
    <li><h1 class="display-4 text-light header-text">Dachepalli Sathvik</h1></li>
    <li><span id="element" class="display-6 text-light pt-5"></span></li>
  </ul>
  <canvas class="header__background" style="width: 100%; height: 100%;"></canvas>
</header>

<div class="jumbotron">
  <div class="container text-light">
    <h1 class="display-3">{{ site_name }}</h1>
    <p>
      I'm Sathvik, a Computer Science undergrad with a strong foundation in
      programming, software development, and data analysis. I'm passionate about
      technology and always seeking new challenges to expand my skillset. I
      thrive in team-oriented environments and am eager to explore career
      opportunities in the tech industry. Thanks for visiting my website!
    </p>
  </div>
</div>


