<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom container  ">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlJVXVBdRDTRCXmPtSKCQWlWSNQBRLQHsKSzGkkqRKJmCcffBFFvWDNtXXfKzNBQKpTMrg" class="me-4 text-reset">
          <i class="fa-brands fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </section>
    <section class=" justify-content-center p-4 border-bottom container ">
          <div class="container justify-content-center ">
            <h6 class="text-uppercase fw-bold mb-4 "> Contact </h6>
            <i class="fas fa-envelope me-2"></i>dachepallisathvik@gmail.com
            &nbsp &nbsp
            <i class="fas fa-phone me-1"></i>+ 01 234 567 88
            &nbsp &nbsp
            <i class="fa-brands fa-whatsapp me-1"></i>+ 01 234 567 89
            &nbsp &nbsp
          </div>
        </div>
      </div>
    </section>
  </footer>