:root{
    --bg-color-header:rgb(255, 255, 255);
    --color-border-info:rgb(194, 105, 46);
    --body-bg-color:rgb(53, 57, 53);
    --bg-color-footer:rgb(54, 52, 52);
}
.navbar-header{
    color: var(--bg-color-header);
    font-size: 1.5rem;
}
.border-info{
    background-color: var(--body-bg-color);
}
body{
    background-color: var(--body-bg-color);
}
.container-fluid{
    position: relative;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.dropdown{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.footer{
    background-color: var(--bg-color-footer);
    color: var(--bg-color-header);
    font-size: 1 rem;
    text-align: center;
    padding: 10px;
}
/* @media (max-width:500px) {
    .footer{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    } */